@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <!-- Main Content Area -->
    <div class="content">
        <h2>Welcome to Admin Dashboard</h2>
        <p>This is the admin dashboard where you can manage mentors, universities, and students.</p>
    </div>

    

</body>
</html>
